.score {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F71E5;
}
.score__percent {
    margin: 0px 0px 30px;
    font-weight: bold;
    font-size: 60px;
    font-family: "Source Sans Pro",Arial,sans-serif;
    color: #fff;
}
.score__title {
    margin: 0px;
    font-size: 24px;
    color: #fff;
}
.score__button {
    margin-top: 30px;
}
.score__button_type_report {
    color: #2F71E5;
}