.begin {
    width: 100%;
    min-height: 500px;
    background-color: #2F71E5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.begin__title {
    margin: 100px 0px 0px;
    font-size: 28px;
    color: #fff;
}
.begin__button {
    margin-top: 70px;
    background-color: #FF5050;
    color: #ffffff;
}
.begin__info-container {
    width: 80%;
    padding: 0px;
    margin: auto 0px 50px;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
}
.begin__info-item {
    display: flex;
    max-width: 350px;
}
.begin__info-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    pointer-events: none;
}
.begin__info-description {
    display: flex;
    flex-direction: column;
}
.begin__info-count {
    margin: 0px;
    color: #FF5050;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.15;
}
.begin__info-caption {
    margin: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.15;
}