.draggable-item {
    margin: 0px 0px 8px 0px;
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: #fff;
    color: #1A1B22;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    padding: 3px;
}
.draggable-item_type_dragging {
    border: 1px solid #FF5050;
    background-color: #FF5050;
    color: #fff;
}
.draggable-item_type_large {
    min-height: 65px;
}
.draggable-item_type_small {
    min-height: 40px;
}