.checkbox {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}
.checkbox input {
    display: none;
}
.checkbox input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
.checkbox input + span:not(:empty) {
    padding-left: 30px;
}
.checkbox input + span:before, .checkbox input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 20%;
    left: 0;
    top: 0;
    position: absolute;
}
.checkbox input + span:before {
    background: #777777;
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.checkbox input + span:after {
    background: #fff;
    transform: scale(0.78);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.checkbox input:checked + span:before {
    transform: scale(1.04);
    background: #2F71E5;
    background-image: url('../../images/quiz/checkbox-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.checkbox input:checked + span:after {
    transform: scale(0);
    transition: transform 0.1s ease;
}
.checkbox:hover input + span:before {
    transform: scale(0.92);
}
.checkbox:hover input + span:after {
    transform: scale(0.74);
}
.checkbox:hover input:checked + span:after {
    transform: scale(0);
}